@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  scrollbar-gutter: stable;
}

.swiper-pagination {
  line-height: 0 !important;
  bottom: 0 !important;
}

.swiper-pagination-bullet {
  background-color: #ffffff !important;
  opacity: 100% !important;
  bottom: 0 !important;
}

.swiper-pagination-bullet-active {
  background-color: #f19b6c !important;
}

.scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 20px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: black;
  border: 2px solid white;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 100vh;
  border: 3px solid #f6f7ed;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #c0a0b9;
}
