@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  scrollbar-gutter: stable;
}

* {
  background-color: black;
}

:root {
  /* --toastify-icon-color-success: #ee854d !important; */
  /* --toastify-color-progress-success: #ee854d !important; */
}

.Toastify__toast.Toastify__toast-theme--dark.Toastify__toast--success {
  /* border: #ee854d 1px solid  !important; */
  background: black !important;
}

.Toastify__toast.Toastify__toast-theme--dark.Toastify__toast--error {
  background: black !important;
}

.Toastify__toast-container.Toastify__toast-container--top-right {
  background: transparent;
}

.swiper-pagination {
  line-height: 0 !important;
  bottom: 0 !important;
}

.swiper-pagination-bullet {
  background-color: #ffffff !important;
  opacity: 100% !important;
  bottom: 0 !important;
}

.swiper-pagination-bullet-active {
  background-color: #f19b6c !important;
}

.scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 20px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: black;
  border: 2px solid white;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 100vh;
  border: 3px solid #f6f7ed;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #c0a0b9;
}

.swiper-button-next {
  background: transparent !important;
  border-radius: 0px !important;
  color: #ffffff !important;
  height: 10px !important;
}

.swiper-button-prev {
  background: transparent !important;
  border-radius: 0px !important;
  color: #ffffff !important;
}

.brandModal {
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  /* Firefox */
}

.brandModal::-webkit-scrollbar {
  width: 10px;
}

.brandModal::-webkit-scrollbar-thumb {
  background: #cbaf69;
  border-radius: 10px;
}

.brandModal::-webkit-scrollbar-track {
  background: #2b2828;
  border-radius: 10px;
}

.notificationModal {
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  /* Firefox */
}

.notificationModal::-webkit-scrollbar {
  width: 5px;
}

.notificationModal::-webkit-scrollbar-thumb {
  background: #cbaf69;
  border-radius: 5px;
}

.notificationModal::-webkit-scrollbar-track {
  background: #2b2828;
  border-radius: 5px;
}

/* .Toastify__toast--success {
  background-color: #FFA500 !important;
} */

.hidescrollbar::-webkit-scrollbar {
  width: 0px;
}

.alphabetscroll {
  overflow-x: auto;
  -ms-overflow-style: none;
  /* IE and Edge */
  /* Firefox */
}

.alphabetscroll::-webkit-scrollbar {
  height: 1px;
}

.alphabetscroll::-webkit-scrollbar-thumb {
  background: #cbaf69;
  border-radius: 5px;
}

.alphabetscroll::-webkit-scrollbar-track {
  background: #2b2828;
  border-radius: 5px;
}

#cke_1_contents {
  height: 300px;
  background-color: black; /* Set the desired height */
}

.blogs {
  word-break: break-all;
  max-width: 99vw;
  padding: 0px 10px;
}

.blogs p {
  font-size: 20px;
  margin: 8px 0px;
  font-family: "satoshi";
}

.blogs h1 {
  font-size: 28px;
  font-weight: 700;
  margin: 8px 0px;
  font-family: "satoshi";
}

.blogs2 h1 {
  font-weight: 700;
  margin: 8px 0px;
  font-family: "satoshi";
}

.blogs h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 8px 0px;
  font-family: "satoshi";
}

.blogs a {
  font-size: 20px;
  margin: 8px 0px;
  color: #47838a;
  font-family: "satoshi";
  word-break: break-all;
}

.dark .blogs a {
  color: #66bcc6;
}

.blogs code {
  background-color: rgba(242, 242, 242, 1);
  font-weight: 400;
  font-size: 15px;
  padding: 2px 4px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  word-wrap: break-word;
}

.dark .blogs code {
  background-color: #1e1e1e;
}

.blogs pre {
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  padding: 32px;
  margin-top: 40px;
  margin-bottom: 40px;
  overflow-x: auto;
}

.dark .blogs pre {
  background-color: #1e1e1e;
  border: 1px solid #333333;
}

.blogs pre code {
  background-color: transparent;
  font-weight: 400;
  font-size: 15px;
  padding: 2px 4px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  word-wrap: break-word;
}

.dark .blogs pre code {
  background-color: #1e1e1e;
}

.blogs code strong {
  background-color: #f2f2f2;
  font-weight: 700;
  font-size: 15px;
  padding: 2px 0px;
}

.dark .blogs code strong {
  background-color: #1e1e1e;
}

.blogs ul li {
  list-style: disc;
  margin-left: 25px;
  font-size: 20px;
}

.blogs ol li {
  margin-left: 25px;
  font-size: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
td,
th {
  border: 1px solid;
}

tr td {
  padding: 10px;
  word-break: break-all;
}
